section.footer
    .container
        .footer__about
            .row.g-3 
                .col-12.col-lg-3
                    .footer__header
                        img.footer__heading__icon(srcset="./assets/icons/list.png") 
                        p.footer__heading__text VỀ CHÚNG TÔI
                    p(style="font-size: 13px;") Công ty Cổ phẩn Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử.  
                    ul.footer__list
                        li.footer__item
                            a.footer__item__link
                                img.footer__item__icon(srcset="./assets/icons/location.png")
                                span Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cấn Ba Đình - Hà Nội
                        li.footer__item
                            a.footer__item__link
                                img.footer__item__icon(srcset="./assets/icons/mail.png")
                                span support@dkt.com.vn
                        li.footer__item
                            a.footer__item__link
                                img.footer__item__icon(srcset="./assets/icons/phone.png")
                                span (84-4) 66558868  -  (84-4) 37868904
                .col-12.col-lg-2
                    .footer__header
                        img.footer__heading__icon(srcset="./assets/icons/list.png") 
                        p.footer__heading__text CHÍNH SÁCH
                    ul.footer__list
                        li.footer__item
                            a.footer__item__link(href="#") Chính sách giao hàng
                        li.footer__item 
                            a.footer__item__link(href="#") Chính sách đổi sản phẩm
                        li.footer__item
                            a.footer__item__link(href="#") Chính sách bảo hành
                        li.footer__item 
                            a.footer__item__link(href="#") Chính sách trả góp
                        li.footer__item 
                            a.footer__item__link(href="#") Giới thiệu hàng đổi trả
                        li.footer__item 
                            a.footer__item__link(href="#") Vận chuyển miễn phí
                .col-12.col-lg-2 
                    .footer__header
                        img.footer__heading__icon(srcset="./assets/icons/list.png") 
                        p.footer__heading__text DỊCH VỤ &amp; HỖ TRỢ
                    ul.footer__list
                        li.footer__item
                            a.footer__item__link(href="#") Hệ thống cửa hàng
                        li.footer__item 
                            a.footer__item__link(href="#") Hướng dẫn mua hàng
                        li.footer__item 
                            a.footer__item__link(href="#") Hướng dẫn thanh toán
                        li.footer__item 
                            a.footer__item__link(href="#") Tích điểm đổi thưởng
                        li.footer__item 
                            a.footer__item__link(href="#") Dịch vụ đổi trả hàng
                        li.footer__item 
                            a.footer__item__link(href="#") Câu hỏi thường gặp
                .col-12.col-lg-2
                    .footer__header
                        img.footer__heading__icon(srcset="./assets/icons/list.png") 
                        p.footer__heading__text TIN TỨC - SỰ KIỆN
                    ul.footer__list
                        li.footer__item 
                            a.footer__item__link(href="#") Tin tức mới nhất
                        li.footer__item 
                            a.footer__item__link(href="#") Tin tức khuyến mại
                        li.footer__item 
                            a.footer__item__link(href="#") Tuyển dụng, đãi ngộ+
                        li.footer__item 
                            a.footer__item__link(href="#") Download tài liệu
                        li.footer__item 
                            a.footer__item__link(href="#") Chương trình đối tác
                        li.footer__item 
                            a.footer__item__link(href="#") Nhà phát triển ứng dụng
                .col-12.col-lg-2 
                    .footer__header
                        img.footer__heading__icon(srcset="./assets/icons/list.png") 
                        p.footer__heading__text KẾT NỐI
                    ul.footer__list
                        li.footer__item
                            a.footer__item__link(href="#")
                                img.footer__item__icon(srcset="./assets/icons/facebook.png")
                                span Facebook
                        li.footer__item
                            a.footer__item__link(href="#") 
                                img.footer__item__icon(srcset="./assets/icons/twitter.png")
                                span Twitter
                        li.footer__item
                            a.footer__item__link(href="#")
                                img.footer__item__icon(srcset="./assets/icons/google-plus.png")
                                span Google
                        li.footer__item
                            a.footer__item__link(href="#")
                                img.footer__item__icon(srcset="./assets/icons/skype.png")
                                span Skype
                        li.footer__item__link
                                img.footer__item__icon(srcset="./assets/icons/instagram.png")
                                span Instagram

        .footer__connect
            .row.g-3 
                .col-12.col-lg-6 
                    span Thanh toán
                    .footer__bank
                        .footer__bank__item
                            img(srcset="./assets/images/techcombank.png")
                        .footer__bank__item
                            img(srcset="./assets/images/vietinbank.png")
                        .footer__bank__item
                            img(srcset="./assets/images/vpbank.png")
                        .footer__bank__item
                            img(srcset="./assets/images/tienphongbank.png")
                        .footer__bank__item
                            img(srcset="./assets/images/maritimebank.png")
                        .footer__bank__item
                            img(srcset="./assets/images/dongabank.png")
                        .footer__bank__item
                            img(srcset="./assets/images/abbank.png")
                        .footer__bank__item
                            img(srcset="./assets/images/vietcapitalbank.png")
                .col-12.col-lg-6 
                    span Giải đáp nhanh
                    ul.footer__contact
                        li.footer__contact__item
                            img(srcset="./assets/icons/hotline.png")
                            .footer__contact__infor
                                .footer__contact__text Tư vấn miễn phí (24/7)
                                .footer__contact__hotline 1900 650 650
                        li.footer__contact__item 
                            img(srcset="./assets/icons/chat.png")
                            .footer__contact__infor
                                .footer__contact__text Góp ý - phản hồi - thắc mắc
                                .footer__contact__hotline 1900650 650

section.product
    .container
        .product__infor
            .row.g-3 
                .col-12.col-lg-4 
                    .product__creative
                    span(style="color: #acacac; font-size: 13px;") Bản quyền thuộc về  
                    span(style="color: #fff; font-size: 13px;") Design Team.  
                    span(style="color: #acacac; font-size: 13px;") Phát triển bởi 
                    span(style="color: #fff; font-size: 13px;") Bizweb  
                .col-12.col-lg-5 
                    ul.product__advertise
                        li Trang chủ
                        li Giới thiệu
                        li Sản phẩm
                        li Tin khuyến mại
                        li Dịch vụ
                        li Liên hệ