section.footer
    .container
        .row.g-3 
            .col-12.col-lg-3
                .footer__header
                    img(srcset="./images/list.png") 
                    p.footer__heading VỀ CHÚNG TÔI
                p Công ty Cổ phẩn Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử.  
                ul.footer__list
                    li.footer__item
                        a.footer__item__link
                            img.footer__item__icon(srcset="./images/location.png")
                            span Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cấn Ba Đình - Hà Nội
                    li.footer__item
                        a.footer__item__link
                            img.footer__item__icon(srcset="./images/mail.png")
                            span support@dkt.com.vn
                    li.footer__item
                        a.footer__item__link
                            img.footer__item__icon(srcset="./images/phone.png")
                            span (84-4) 66558868  -  (84-4) 37868904
            .col-12.col-lg-2
                .footer__header
                    img(srcset="./images/list.png") 
                    p.footer__heading CHÍNH SÁCH
                ul.footer__list
                    li.footer__item
                        a.footer__item__link(href="#") Chính sách giao hàng
                    li.footer__item 
                        a.footer__item__link(href="#") Chính sách đổi sản phẩm
                    li.footer__item
                        a.footer__item__link(href="#") Chính sách bảo hành
                    li.footer__item 
                        a.footer__item__link(href="#") Chính sách trả góp
                    li.footer__item 
                        a.footer__item__link(href="#") Giới thiệu hàng đổi trả
                    li.footer__item 
                        a.footer__item__link(href="#") Vận chuyển miễn phí
            .col-12.col-lg-2 
                .footer__header
                    img(srcset="./images/list.png") 
                    p.footer__heading DỊCH VỤ &amp; HỖ TRỢ
                ul.footer__list
                    li.footer__item
                        a.footer__item__link(href="#") Hệ thống cửa hàng
                    li.footer__item 
                        a.footer__item__link(href="#") Hướng dẫn mua hàng
                    li.footer__item 
                        a.footer__item__link(href="#") Hướng dẫn thanh toán
                    li.footer__item 
                        a.footer__item__link(href="#") Tích điểm đổi thưởng
                    li.footer__item 
                        a.footer__item__link(href="#") Dịch vụ đổi trả hàng
                    li.footer__item 
                        a.footer__item__link(href="#") Câu hỏi thường gặp
            .col-12.col-lg-2
                .footer__header
                    img(srcset="./images/list.png") 
                    p.footer__heading TIN TỨC - SỰ KIỆN
                ul.footer__list
                    li.footer__item 
                        a.footer__item__link(href="#") Tin tức mới nhất
                    li.footer__item 
                        a.footer__item__link(href="#") Tin tức khuyến mại
                    li.footer__item 
                        a.footer__item__link(href="#") Tuyển dụng, đãi ngộ
                    li.footer__item 
                        a.footer__item__link(href="#") Download tài li.footer__itemệu
                    li.footer__item 
                        a.footer__item__link(href="#") Chương trình đối tác
                    li.footer__item 
                        a.footer__item__link(href="#") Nhà phát triển ứng dụng
            .col-12.col-lg-2 
                .footer__header
                    img(srcset="./images/list.png") 
                    p.footer__heading KẾT NỐI
                ul.footer__list
                    li.footer__item
                        a.footer__item__link(href="#")
                            i.footer__item__icon.fa-brands.fa-facebook-f
                            span Facebook
                    li.footer__item
                        a.footer__item__link(href="#") 
                            i.footer__item__icon.fa-brands.fa-twitter
                            span Twitter
                    li.footer__item
                        a.footer__item__link(href="#")
                            i.footer__item__icon.fa-brands.fa-google-plus-g
                            span Google
                    li.footer__item
                        a.footer__item__link(href="#")
                            i.footer__item__icon.fa-brands.fa-skype
                            span Skype
                    li.footer__item
                        a.footer__item__link(href="#")
                            i.footer__item__icon.fa-brands.fa-instagram
                            span Instagram

        .row.g-3 
            .col-12.col-lg-6 
                span Thanh toán
                .footer__connect__item
                    img(srcset="./images/techcombank.png")
                .footer__connect__item
                    img(srcset="./images/vietinbank.png")
                .footer__connect__item
                    img(srcset="./images/vpbank.png")
                .footer__connect__item
                    img(srcset="./images/tienphongbank.png")
                .footer__connect__item
                    img(srcset="./images/maritimebank.png")
                .footer__connect__item
                    img(srcset="./images/dongabank.png")
                .footer__connect__item
                    img(srcset="./images/abbank.png")
                .footer__connect__item
                    img(srcset="./images/vietcapital.png")
            .col-12.col-lg-6 
                span Giải đáp nhanh
                ul
                    li
                        img(srcset="./images/hotline.png")
                        li
                            span Tư vấn miễn phí (24/7)
                            span.hotline 1900 650 650
                    li 
                        img(srcset="./images/chat.png")
                        li
                            span Góp ý - phản hồi - thắc mắc
                            span.hotline 1900650 650

        .row.g-3 
            .col-12.col-lg-4 
                p Bản quyền thuộc về
                span.footer__creater Design Team.
                p Phát triển bơie
                span.footer__creater Bizweb
            .col-12.col-lg-3 
            .col-12.col-lg-5 
                ul.footer__advertise
                    li Trang chủ
                    li Giới thiệu
                    li Sản phẩm
                    li Tin khuyến mại
                    li Dịch vụ
                    li Liên hệ
