section.header 
    .log
        .container
            .log__header
                .log__social
                    a.log__social__link(href="#")
                        img.log__social__icon(srcset="./assets/icons/facebook.png")
                    a.log__social__link(href="#") 
                        img.log__social__icon(srcset="./assets/icons/google-plus.png")
                    a.log__social__link(href="#") 
                        img.log__social__icon(srcset="./assets/icons/instagram.png")
                    a.log__social__link(href="#") 
                        img.log__social__icon(srcset="./assets/icons/twitter.png")
                .log__form
                    a.log__form--btn(href="#") ĐĂNG KÍ
                    a.log__form--btn(href="#") ĐĂNG NHẬP
        
    .navbar
        .container
            .navbar__header
                .navbar__logo 
                    img(srcset="./assets/images/logo.png")
                .navbar__contact
                    .navbar__contact__item
                        .navbar__contact__text HOTLINE:
                        .navbar__contact__number
                            .navbar__contact__phone (04) 9500 9650
                            .navbar__contact__phone (04) 9500 8850
                    .navbar__contact__item
                        .navbar__contact__text ĐẶT HÀNG NHANH:
                        .navbar__contact__number
                            .navbar__contact__phone (04) 9500 9650
                            .navbar__contact__phone (04) 9500 8850
                .navbar__search
                        form.navbar__search__container
                            input.navbar__search__input(type='text', placeholder='Tìm kiếm')
                            img.navbar__search__icon(srcset="./assets/icons/search.png")

    .menu 
        .container
            .menu__header
                p.menu__collapse
                    button.btn(type='button', data-bs-toggle='collapse', data-bs-target='#collapseWidthExample', aria-expanded='false', aria-controls='collapseWidthExample')
                        svg(style='width: 20px; height: 20px; fill: white;', viewBox='0 0 512 512')
                            path(d='M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24-H40')

                ul.menu__list
                    li.menu__item
                        a.menu__link.active(aria-current='page' href='#') TRANG CHỦ
                    li.menu__item
                        a.menu__link(href='#') GIỚI THIỆU
                    li.menu__item
                        a.menu__link(href='#') SẢN PHẨM
                    li.menu__item
                        a.menu__link(href='#') TIN KHUYẾN MẠI
                    li.menu__item
                        a.menu__link(href='#') DỊCH VỤ
                    li.menu__item
                        a.menu__link(href='#') LIÊN HỆ
                    
                .menu__cart
                    .menu__cart__wrap
                        .menu__cart__icon
                            i.fa-solid.fa-cart-shopping
                        span.menu__cart__notice 3
