section.header 
    .login
        .container
            .login__header
                .login__social
                    a.login__social__link(href="#")
                        img.login__social__icon(srcset="./assets/icons/facebook.png")
                    a.login__social__link(href="#") 
                        img.login__social__icon(srcset="./assets/icons/google-plus.png")
                    a.login__social__link(href="#") 
                        img.login__social__icon(srcset="./assets/icons/instagram.png")
                    a.login__social__link(href="#") 
                        img.login__social__icon(srcset="./assets/icons/twitter.png")
                .login__form
                    a.login__form--btn(href="#") ĐĂNG KÍ
                    a.login__form--btn(href="#") ĐĂNG NHẬP
        
    .navbar
        .container
            .navbar__logo 
                img(srcset="./assets/images/logo.png")
            .navbar__contact
                .navbar__contact__item
                    .navbar__contact__text HOTLINE:
                    .navbar__contact__number (04) 9500 9650 - (04) 9500 8850
                .navbar__contact__item
                    .navbar__contact__text ĐẶT HÀNG NHANH:
                    .navbar__contact__number (04) 9500 9650 - (04) 9500 8850
            .navbar__search
                form.navbar__search__container
                    input.navbar__search__input(type='text', placeholder='Tìm kiếm')
                    img.navbar__search__icon(srcset="./assets/icons/search.png")
    .menu 
        .container 
            .menu__header
                ul.menu__list
                    li.menu__item
                        a.menu__link.active(aria-current='page' href='#') TRANG CHỦ
                    li.menu__item
                        a.menu__link(href='#') GIỚI THIỆU
                    li.menu__item
                        a.menu__link(href='#') SẢN PHẨM
                    li.menu__item
                        a.menu__link(href='#') TIN KHUYẾN MẠI
                    li.menu__item
                        a.menu__link(href='#') DỊCH VỤ
                    li.menu__item
                        a.menu__link(href='#') LIÊN HỆ
                        
                .menu__cart
                    .menu__cart__wrap
                        img.menu__cart__icon(srcset="./assets/icons/cart.png")
                        span.menu__cart__notice 3
