.footer{
    background-color: #f7f7f7;

    &__about{
        padding-top: 60px;
        background-color: #f7f7f7;
    }

    &__heading{
        &__icon{
            margin-top: 5px;
            width: 10px;
            height: 10px;
        }

        &__text{
            font-size: 14px;
            font-weight: 700;
            color: black;
            padding-left: 10px;
            margin: 0;
        }
    }

    &__header{
        display: flex;
        margin-bottom: 40px;
    }

    &__list{
        padding-left: 0;
        list-style: none;
    }

    &__item{
        &__link{
            text-decoration: none;
            font-size: 14px;
            line-height: 36px;
            color: black;
        }

        &__icon{
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }

    &__connect{
        padding: 20px 0 40px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__bank{
        display: flex;
        flex-wrap: wrap;
            &__item{
                width: 25%;
                margin: 10px 0;
            }
    }

    &__contact{
        display: flex;
        list-style: none;
        padding-left: 0;
        justify-content: space-between;
        text-align: center;
        margin-top: 30px;

        &__item{
            margin-top: 10px;
            padding-left: 0;
            display: flex;
        }

        &__infor{
            align-items: center;
            padding: 0 8px;
        }

        &__text{
            font-size: 14px;
        }

        &__hotline{
            color: red;
            font-size: 18px;
            font-weight: 700;
        }
    }

    @media (max-width: 767px){
        .footer{
            &__about{
                padding-top: 30px;
            }

            &__header{
                margin-bottom: 20px;
            }

            &__bank{
                &__item{
                    width: 50%;
                }

                &__icon{
                    width: 100%;
                }
            }

            &__contact{
                flex-direction: column;
                &__item{
                    margin-top: 30px;
                }
            }
        }
    }
}

.design{
    width: 100%;
    background-color: black;
    align-items: center;

    &__infor{
        justify-content: space-between;
    }

    &__creative{
        display: flex;
        font-size: 13px;
    }

    &__advertise{
        padding-left: 0;
        display: flex;
        list-style: none;
        font-size: 13px;
        color: #acacac;
        justify-content: space-between;
    }

    @media (max-width: 767px){
        .design{
            &__creative{
                align-items: center;
                flex-direction: column;
            }

            &__advertise{
                margin: 0 53px;
                flex-wrap: wrap;
            }
        }
    }
}

.row{
    // margin-top: 80px;
    justify-content: space-between;
}