$gray: #f7f7f7;
$black: #202020;
$primary-color: #f5bd10;
$text: #898989;

.btn{
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 0;
    font-size: 14px;
    padding: 0 10px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: $text;
    display: inline-flex;
    align-items: center;
    justify-content:center;
}

.btn--small{
    background-color: $primary-color;
}

.btn--primary{
    color: white;
    padding: 20px 33px;
    background-color: $primary-color;
}

.btn--black{
    color: white;
    padding: 20px 33px;
    background-color: $black;
}

.move{
    height: 76px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &__icon{
        padding: 0 10px;
    }

    &__home{
        color: #898989;
    }

    &__page{
        color: black;
    }
}