.container{
    max-width: 1200px;
    margin: 0 auto;
}

//Login
.login{
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social{
        display: flex;
        justify-content: center;

        &__link{
            text-decoration: none;
            padding: 15px;
            border-left: 1px solid rgba(0, 0, 0, 0.2);
            border-right: 1px solid rgba(0, 0, 0, 0.2);
        }

        &__link:hover{
            background-color: #f5bd10;
            border: none;
        }

        &__icon{
            width: 20px;
            height: 20px;
            margin: 0px;
        }
    }

    &__form--btn{
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 20px;
        font-size: 13px;
        font-weight: 700;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    
    @media (max-width: 767px) {
        .login{
            &__header {
              flex-direction: column;
            }
          
            &__social {
              display: none;
            }

            &__form{
                width: 100%;
                text-align: center;
            }
            
            &__form--btn{
                width: 50%;
                border: none;
                
            }
        }
    }
}

  //Navbar
.navbar{
    background-color: #fff;

    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contact{
        display: flex;
        justify-content: space-between;

        &__item{
            padding-left: 60px;
        }

        &__text{
            font-size: 13px;
            font-weight: 700;
            color: #f5bd10;
        }

        &__number{
            font-size: 13px;
            color: #999;
        }
    }

    &__search{
        text-align: center;

        &__container{
            position: relative;
        }

        &__input{
            padding: 0 40px 0 20px;;
            height: 50px;
            max-width: 320px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 50px;
        }

        &__icon{
            position: absolute;
            top: 50%;
            right: 20px;
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }

    @media (max-width: 767px) {
        .navbar{
            &__header{
                flex-direction: column;
                justify-content: center;
            }

            &__logo{
                text-align: center;
                margin-bottom: 15px;
            }

            &__contact{
                display: none;
            }
        }
    }
}



.menu{
    background-color: black;
    // height: 70px;

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__list{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    &__item{
        padding: 25px 30px;
    }

    &__item:hover{
        background-color: #f5bd10;
    }

    &__link{
        text-decoration: none;
        font-weight: 500;
        color: white;
        // padding: 0 30px;
    }

    &__toggler{
        display: none;
    }

    &__cart{
        align-items: center;

        &__wrap{
            position: relative;
            display: inline-block;
            padding: 0 8px;
            cursor: pointer;
        }
        
        &__wrap:hover{
            display: block;
        }
    
        &__icon{
            width: 25px;
            height: 25px;
            margin-top: 25px;
        }

        &__notice{
            position: absolute;
            padding: 1px 8px;
            font-size: 13px;
            line-height: 1.4rem;
            color: white;
            background-color: #f5bd10;
            border-radius: 20px;
            right: -4px;
            top: 10px;
        }
    }
}