section.blog 
    .container
        row.g-3 
            .col-12.col-lg-3
                .category
                    img(srcset="./images/category.png") 
                    h3.category__heading DANH MỤC SẢN PHẨM
                ul.category__list
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy in phun khổ lớn
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy quét Canon 3D
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy hàn điện Alunima
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy khoan Decameta
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy phay đa năng CNC                                  
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy mài, tiện DC 12V
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy khoan, cắt CNC
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy quay thông minh N3
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Motor R34C đa dụng
                    li.category__item.category__item--active
                        img(srcset="./images/list.png")
                        a.category__item__link(href='#') Máy in laser màu 3D
