section.error 
    .container 
        .error__container
            .col-12.col-lg-7
                .error__notify
                    h2.error__header 404 ERROR 
                    p.error__text Chúng tôi không tìm thấy kết quả nào phù hợp với tìm kiếm của bạn
                    p.error__text Xin vui lòng trở về trang chủ
                    button.error__submit.btn.btn--black(type='submit') TRANG CHỦ
            .col-12.col-lg-4
                .error__image
                    img(srcset="./assets/images/error.png")